.add-post-btn{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: $button-gradient-color;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .add-icon
    {
        font-size: 40px;
        font-weight: 500px;
        color: white;
    }

}

.add-post-btn:hover{
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}